<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <!--<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" /> -->
  <title>Rails/Front-end Developer for Heroku | Dane Harrigan</title>
  <%= stylesheet '/assets/stylesheets/resume.css' %>
  <%= javascript 'https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js' %>
  <%= javascript '/assets/javascripts/resume.js' %>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-3182414-15']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
	<header id="introduction">
		<section>
			<ul>
				<li id="light">Heroku, meet Dane.</li>
				<li id="medium">I am writing to apply...</li>
				<li id="dark">To whom it may concern:</li>
			</ul>
			<h1>Hey everyone at Heroku, I’m <a href="#contact">Dane</a>.</h1>
		</section>
	</header>
	<nav>
		<menu>
			<li>
				<a href="#introduction">My introduction</a>
				<p>I got it right on the fourth try.</p>
			</li>
			<li>
				<a href="#who-are-you">Who are you?</a>
				<p>You’re Heroku, but what else?</p>
			</li>
			<li>
				<a href="#who-am-i">Who am I?</a>
				<p>A little bit about me, my hobbies and my work.</p>
			</li>
			<li>
				<a href="#contact">Want to say hi?</a>
				<p>Let's keep the conversation going.</p>
			</li>
		</menu>
	</nav>
	<div id="content">
		<section>
			<div id="about-you">
				<h2 id="who-are-you">Who are you?</h2>
				<ul>
					<li>
						<h3>You're Heroku</h3>
            <p>You're continuously improving the Ruby community with a
               solid hosting platfom and thats just a start! You're backed by
               some amazing people like <a href="https://twitter.com/#!/bmizerany">Blake Mizerany</a>,
               <a href="https://twitter.com/#!/leinweber">Will Leinweber</a> and Sharon Schmidt
               (who might just be the nicest person ever).</p>
					</li>
					<li>
						<h3>You Know What You Want</h3>
            <p>You already defined the requirements and the nice-to-have's.
               From a front-end standpoint the candidate needs to be experienced
               in HTML5/CSS, Haml/Sass, jQuery and have an eye for style. From a
               back-end development standpoint you're looking for someone with
               experience in Ruby 1.9, Rails 3, Sinatra, SQL, Git, Unix systems,
               background processing, Node.js and freelance experience.</p>

            <p>That's quite a list you've got there, but I couldn't agree more! A
               developer can't benefit a company like <strong>Heroku</strong> without hitting all of
               these points. Luckily I do.</p>

               <p>After chatting with Sharon and Will at RailsConf 2011 I was hooked. If they're the
                  type of people that work for <strong>Heroku</strong> <a href="#contact">I think we should talk.</a></p>
					</li>
				</ul>
			</div>
			<div id="about-me">
				<h2 id="who-am-i">Who am I?</h2>
				<ul>
					<li>
						<h3>I am a Developer</h3>
						<p>Developer, programmer, coder, whatever you'd like to call it. I build.
						   I am fascinated by all things technology — software and hardware. I am
						   equally fascinated by user experience and the usability of applications
						   and products. Simple and elegant solutions excite me.</p>
					</li>
					<li>
						<h3>I Do Stuff Too</h3>
						<p>Knowing stuff. creating stuff and improving stuff — I can't do it enough.
              I don't just code though. I'm a casual gamer, occasional <a href="http://www.youtube.com/watch?v=RBNxmLBZbxw">popper/hip hop dancer</a>,
						  and an aspiring musician. If I'm not working I'm most likely whipping up
              something in Ruby, hacking on my CMS called <a href="https://github.com/daneharrigan/magnetism">Magnetism</a>,
              pairing with Jim Gay on <a href="https://github.com/radiant/radiant">Radiant</a> improvments or reading through
              the Rails 3 codebase.</p>
					</li>
					<li>
						<h3>What I Do</h3>
            <p>I work for a great company in the Virginia/Washington, DC area called Incapsulate, LLC.
               We've done work companies like HP and the DC government. I'm one of the three Ruby
               Developers and it's fun. I share the overhead of server management and work with the team
               to enhance our client applications, improving our codebases, knowledge sharing of
               better/cleaer coding practices and new discoveries.</p>
					</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		<div id="contact">
			<section>
				<h3>Dane Harrigan</h3>
				<p><a href="mailto:dane.harrigan@gmail.com">dane.harrigan@gmail.com</a></p>
				<p>202.674.2122</p>
				<p>Want the resum&#233;? <a href="/assets/resume.pdf">Here you go</a>.</p>
			</section>
		</div>
	</div>
	<footer>
		<section>
			<p>Prepared by Dane Harrigan for <strong>Heroku</strong>.</p>
			<p>Built with HTML5, Sass, and CoffeeScript.</p>
		</section>
	</footer>
</body>
</html>
